In [1]:
#145559 entries total
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import numpy as np
import re
pd.set_option('display.max_colwidth', None)

In [2]:
# # requests.get('https://nuforc.org/webreports/ndxshape.html')

# soup = BS(response.text)

# print(soup)

# soup.findAll('td')

# totalcount = soup.findAll('td')[1::2]

# totalcount = pd.DataFrame(totalcount)

# totalcount.rename(columns = {0:'total'}, inplace=True)

# totalcount = totalcount.total.astype(int)

# totalcount.sum()

# report_links function

In [3]:
# function to add first part of link to the reports link so they will be valid
def report_links(link):
    link = 'https://nuforc.org/webreports/' + link
    return link

<div style='background: lightblue; font-size: 35px'>unspecified shape</div>

unsp = 'https://nuforc.org/webreports/ndxs.html'
unsp = requests.get(unsp)
unsp

unsp = BS(unsp.text)

# report links and date

unsp_a = unsp.findAll('a') # get <a> tags

href_values = [href.get('href') for href in unsp_a] # get text between " "

date_values = [date_val.text for date_val in unsp_a] # get text between <a> tags

date_values = pd.DataFrame(date_values).rename(columns = {0 : 'date'})[1::] # make date_values values dataframe

href_values = pd.DataFrame(href_values).rename(columns = {0 : 'reportlink'})[1::] # make href_values dataframe

unspecified = href_values.join(date_values) # join the 2 dataframes together

unspecified.date = pd.to_datetime(unspecified['date'], errors = 'coerce') # change date column to dt type and ignore rows with funky formats

unspecified.reportlink = unspecified.reportlink.apply(report_links) # apply the report_links function

unspecified = unspecified.reset_index(drop = True) # reset index

# city

city = unsp.findAll('td')[1::9]

city = [cities.text for cities in city] # loop through city and get the text

city = pd.DataFrame(city).rename(columns = {0 : 'city'}) # create city dataframe

unspecified = unspecified.join(city) # join to unspecified dataframe
unspecified.head(2)

unspecified.city = unspecified.city.str.replace('?', '', regex = False)

unspecified.reset_index(drop = True)

# state

unsp.findAll('tr')

<span style='background:orange; font-size:28px'>easy way - unspecified shape</span>

table_data = []

rows = unsp.find_all('tr') # find all tr tags

# loop through td tags and get info
for row in rows:
    cells = row.find_all('td')
    row_data = [cell.get_text(strip=True) for cell in cells]
    table_data.append(row_data)

unspecified_shape = pd.DataFrame(table_data)

unspecified_shape = unspecified_shape.drop(0)

unspecified_shape = unspecified_shape.reset_index(drop=True)

unspecified_shape = unspecified_shape.rename(columns = {0: 'date', 1: 'city', 2: 'state', 3: 'country', 4: 'shape', 5: 'duration',
                                   6: 'description', 7: 'post_date', 8: 'images'})

unspecified_shape['reportlinks'] = unspecified.reportlink

# get images

In [36]:
testurl3 = list(unspecified_shape.reportlinks)

In [ ]:
testurl3 = list(unspecified_shape.reportlinks)
testurl3 = requests.get(testurl3)
testurl3 = BS(testurl3.text)

In [ ]:
tlist = []
srclist = []
for x in testurl3:
    response = requests.get(x)
    soup = BS(response.text)
    text = soup.findAll('td')[1].text
    imgs = soup.findAll('img')
    src = [img['src'] for img in imgs]
    tlist.append(text)
    srclist.append(src)
tlist

<span style='background:orange; font-size:28px'>easier way -shape data</span>

In [188]:
# links
# 'https://nuforc.org/webreports/ndxs.html'
# 'https://nuforc.org/webreports/ndxsChanging.html'
# 'https://nuforc.org/webreports/ndxsChevron.html'
# 'https://nuforc.org/webreports/ndxsCigar.html'
# 'https://nuforc.org/webreports/ndxsCircle.html'
# 'https://nuforc.org/webreports/ndxsCone.html'
# 'https://nuforc.org/webreports/ndxsCross.html'
# 'https://nuforc.org/webreports/ndxsCube.html'
# 'https://nuforc.org/webreports/ndxsCylinder.html'
# 'https://nuforc.org/webreports/ndxsDelta.html'
# 'https://nuforc.org/webreports/ndxsDiamond.html'
# 'https://nuforc.org/webreports/ndxsDisk.html' # why the fuck does this one take up so much space????
# 'https://nuforc.org/webreports/ndxsEgg.html'
# 'https://nuforc.org/webreports/ndxsFireball.html'
# 'https://nuforc.org/webreports/ndxsFlash.html'
# 'https://nuforc.org/webreports/ndxsFormation.html'
# 'https://nuforc.org/webreports/ndxsLight.html'
# 'https://nuforc.org/webreports/ndxsOrb.html'
# 'https://nuforc.org/webreports/ndxsOther.html'
# 'https://nuforc.org/webreports/ndxsOval.html'
# 'https://nuforc.org/webreports/ndxsRectangle.html'
# 'https://nuforc.org/webreports/ndxsSphere.html'
# 'https://nuforc.org/webreports/ndxsStar.html'
# 'https://nuforc.org/webreports/ndxsTeardrop.html'
# 'https://nuforc.org/webreports/ndxsTriangle.html'
'https://nuforc.org/webreports/ndxsUnknown.html'

In [578]:
link = 'https://nuforc.org/webreports/ndxsUnknown.html'


link = requests.get(link)
link

In [579]:
link = BS(link.text)

In [580]:
table_data = []
rows = link.findAll('tr') # find all the row tags

#loop through the td tags
for row in rows:
    entries = row.findAll('td')
    row_data = []
    
    for entry in entries:
        a_tag = entry.find('a')
        if a_tag:
            entry_text = a_tag.get_text(strip = True) # remove white spaces and get data between a tags
            entry_href = a_tag['href'] # get href link inside a tag
            row_data.append(entry_text)
            row_data.append(entry_href)
        else:
            row_data.append(entry.get_text(strip = True))
    table_data.append(row_data)

In [581]:
shape = pd.DataFrame(table_data)

In [582]:
shape = shape.rename(columns = {0: 'date', 1: 'reportlink', 2: 'city', 3: 'state', 4: 'country', 5: 'shape', 6: 'duration',
                                   7: 'description', 8: 'post_date', 9: 'images'})
shape.head(2)

,date,reportlink,city,state,country,shape,duration,description,post_date,images
0,None,None,None,None,None,None,None,None,None,None
1,7/29/23 11:20,reports/177/S177111.html,Riverview,FL,USA,Unknown,11:21,.001/ 9 screen shot clip of fly by,7/29/23,Yes

In [583]:
shape = shape.drop(0)
shape.head(2)

,date,reportlink,city,state,country,shape,duration,description,post_date,images
1,7/29/23 11:20,reports/177/S177111.html,Riverview,FL,USA,Unknown,11:21,.001/ 9 screen shot clip of fly by,7/29/23,Yes
2,7/19/23 22:15,reports/177/S177061.html,Mancos,CO,USA,Unknown,5 minutes,Object in sky moving slowly from north to south with wide beam of light trailing it.,7/29/23,Yes

In [584]:
len(shape)

9860

In [585]:
shape.reportlink = shape.reportlink.apply(report_links)
shape.head(2)

,date,reportlink,city,state,country,shape,duration,description,post_date,images
1,7/29/23 11:20,https://nuforc.org/webreports/reports/177/S177111.html,Riverview,FL,USA,Unknown,11:21,.001/ 9 screen shot clip of fly by,7/29/23,Yes
2,7/19/23 22:15,https://nuforc.org/webreports/reports/177/S177061.html,Mancos,CO,USA,Unknown,5 minutes,Object in sky moving slowly from north to south with wide beam of light trailing it.,7/29/23,Yes

In [505]:
# shape = shape[['date', 'reportlink', 'city', 'state', 'country', 'shape', 'duration', 'description', 'post_date', 'images']]

In [586]:
shape.to_csv('unknown_shape.csv', index = False)

<span style='background:yellow; font-size:20px'>scratch pad</span>

In [129]:
link = 'https://nuforc.org/webreports/ndxloc.html'
link = requests.get(link)
link = BS(link.text)

In [145]:
count_list = list(link.findAll('td')[1::2])

In [148]:
count_list = pd.DataFrame(count_list)

In [149]:
count_list.sum()

0    136463348651261159013173198240914880902663663132842062666120211621661110711631786264235842077769276298468816601176283316375771359227243711456349649165922202384226060111482601264370768912403408112736791178240203474720218245524102408
dtype: object

In [156]:
count_list = count_list.rename(columns = {'count': 'counting'})

In [157]:
count_list.counting = count_list.counting.astype(int)

In [161]:
count_list.sum()

counting    145606
dtype: int64

In [162]:
count_list

    counting
0       1364
1        633
2       4865
3       1261
4      15901
..       ...
60      2455
61        24
62       102
63        40
64         8

[65 rows x 1 columns]

In [1]:
url = 'https://nuforc.org/webreports/reports/171/S171478.html'

    
    

def get_images_from_webpage(url):
    response = requests.get(url)
    images = []
    soup = BeautifulSoup(response.text, 'html.parser')
    img_tags = soup.find_all('img')

    for img_tag in img_tags:
        img_url = img_tag.get('src')
        if img_url.startswith('//'):
            img_url = 'http:' + img_url
        elif img_url.startswith('/'):
            img_url = '/'.join(url.split('/')[:3]) + img_url

        images.append(img_url)

    return images

NameError: name 'images' is not defined