In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import numpy as np
import re
pd.set_option('display.max_colwidth', None)
from datetime import datetime

<span style='background:purple; font-size:25px'>individual csv files</span>

In [2]:
# triangle = pd.read_csv('data/triangle_shape.csv')
# unknown_shape = pd.read_csv('data/unknown_shape.csv')
# unspecified_shape = pd.read_csv('data/unspecified_shape.csv')
# changing_shape = pd.read_csv('data/changing_shape.csv')
# chevron_shape = pd.read_csv('data/chevron_shape.csv')
# cigar_shape = pd.read_csv('data/cigar_shape.csv')
# circle_shape = pd.read_csv('data/circle_shape.csv')
# cone_shape = pd.read_csv('data/cone_shape.csv')
# cross_shape = pd.read_csv('data/cross_shape.csv')
# cube_shape = pd.read_csv('data/cube_shape.csv')
# cylinder_shape = pd.read_csv('data/cylinder_shape.csv')
# delta_shape = pd.read_csv('data/delta_shape.csv')
# diamond_shape = pd.read_csv('data/diamond_shape.csv')
# disk_shape = pd.read_csv('data/disk_shape.csv')
# egg_shape = pd.read_csv('data/egg_shape.csv')
# fireball_shape = pd.read_csv('data/fireball_shape.csv')
# flash_shape = pd.read_csv('data/flash_shape.csv')
# formation_shape = pd.read_csv('data/formation_shape.csv')
# light_shape = pd.read_csv('data/light_shape.csv')
# orb_shape = pd.read_csv('data/orb_shape.csv')
# other_shape = pd.read_csv('data/other_shape.csv')
# oval_shape = pd.read_csv('data/oval_shape.csv')
# rectangle_shape = pd.read_csv('data/rectangle_shape.csv')
# sphere_shape = pd.read_csv('data/sphere_shape.csv')
# star_shape = pd.read_csv('data/star_shape.csv')
# teardrop_shape = pd.read_csv('data/teardrop_shape.csv')

<span style='background:purple; font-size:25px'>combining individual files into 1</span>

In [3]:
# df_list = [triangle, unknown_shape, unspecified_shape, changing_shape,
#                    chevron_shape, cigar_shape, circle_shape, cone_shape,
#                    cross_shape, cube_shape, cylinder_shape, delta_shape,
#                    diamond_shape, disk_shape, egg_shape, fireball_shape,
#                    flash_shape, formation_shape, light_shape, orb_shape,
#                    other_shape, oval_shape, rectangle_shape, sphere_shape,
#                    star_shape, teardrop_shape]

In [4]:
# ufo = pd.concat(df_list)

In [5]:
# ufo.to_csv('ufo.csv', index = False)

<span style='background:purple; font-size:25px'>read in the full (cleaned) dataset csv</span>

In [29]:
ufo = pd.read_csv('data/ufo.csv')

In [27]:
ufo.shape

(145202, 14)

In [ ]:
# convert date column to datetime and create year/month

In [ ]:
ufo.date = pd.to_datetime(ufo['date'], errors = 'coerce')

In [ ]:
ufo.dropna(subset=['date'], inplace=True) # drop rows with none/invalid dates

In [ ]:
current_date = pd.Timestamp(datetime.now())

ufo = ufo[ufo['date'] <= current_date] # get rid of rows with dates after today

In [ ]:
ufo['months'] = ufo.date.dt.strftime('%B') # create month column using months name

In [ ]:
ufo.insert(1, 'month', ufo.months) # move month column to after date

In [ ]:
ufo.drop('months', axis=1, inplace=True) # drop old months column

In [ ]:
ufo['years'] = ufo['date'].dt.year.astype(int) # create years column as int

In [ ]:
ufo.insert(2, 'year', ufo.years)

In [ ]:
ufo.drop('years', axis=1, inplace=True)

In [ ]:
ufo.head(2)

# create cleaned csv

In [23]:
# ufo.to_csv('ufo.csv', index = False)

In [30]:
ufo

,date,month,year,reportlink,city,state,country,shape,duration,description,post_date,images
0,7/29/2023,July,2023,https://nuforc.org/webreports/reports/177/S177093.html,Mallusk,Antrim and Newtownabbey,United Kingdom,Triangle,still current,A very bright light which moved closer. On the top of this light was a triangle reflection that appeared to be on top of the light.,7/29/2023,Yes
1,7/27/2023,July,2023,https://nuforc.org/webreports/reports/177/S177048.html,Plainfield,IN,USA,Triangle,1 minute,2 objects above store.,7/29/2023,NaN
2,7/26/2023,July,2023,https://nuforc.org/webreports/reports/177/S177053.html,Little Falls,MN,USA,Triangle,2 minutes,Saw 2 to 4 triangle craft with bright white lights on the angle tips,7/29/2023,NaN
3,7/25/2023,July,2023,https://nuforc.org/webreports/reports/177/S177081.html,sacramento,CA,USA,Triangle,around 5 min,Silent-more of a slight gush of wind/ triangular object/maybe size of jet/maybe quarter of mile high??,7/29/2023,NaN
4,7/23/2023,July,2023,https://nuforc.org/webreports/reports/176/S176930.html,Buford,GA,USA,Triangle,3+ hours,3 triangle shape white with reddish tint hovering and moving in unison and hovering in the same spot for hours,7/29/2023,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
145197,6/1/1961,June,1961,https://nuforc.org/webreports/reports/052/S52151.html,NaN,NY,USA,Teardrop,30 minutes,I was 11 yrs old. My Aunt and Uncle and I were driveing from Elmira NY to Bradford PA we were in the hills coming around a bend near a,10/30/2006,NaN
145198,7/10/1958,July,1958,https://nuforc.org/webreports/reports/027/S27374.html,Cheektowaga,NY,USA,Teardrop,10 -20 secs,White teardrop shaped object observed during the daytime,3/21/2003,NaN
145199,6/30/1958,June,1958,https://nuforc.org/webreports/reports/080/S80850.html,Conyers,GA,USA,Teardrop,5 min.,Sighting of a UFO ca. 1958.,5/2/2011,NaN
145200,6/30/1957,June,1957,https://nuforc.org/webreports/reports/048/S48502.html,New York City,NY,USA,Teardrop,i0min,glowing lights lead the way,2/14/2006,NaN
145201,4/9/1957,April,1957,https://nuforc.org/webreports/reports/144/S144824.html,Lahore,NaN,Pakistan,Teardrop,3 seconds,"An object flew by at very high speed and high altitude (over 25,000feet). ((anonymous report))",2/14/2019,NaN