In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import numpy as np
import re
pd.set_option('display.max_colwidth', None)
from datetime import datetime
import ast

In [3]:
ufo = pd.read_csv('ufo.csv')

In [4]:
# convert date to date/time
ufo.date = pd.to_datetime(ufo.date)

<span style='background:purple; font-size:25px'>getting image links from reportlink</span>

# subset data on images = yes

ufo.images = ufo.images.str.lower() # make uniform

# make list out of report to loop through
report_links = list(ufo.loc[ufo['images'] == 'yes', 'reportlink'])

# function to add the first part of the url to all the report links so they will work
def report_links(link):
    link = 'https://nuforc.org/webreports/' + link
    return link

# function to get the image tags from each report link
def get_images(url):
    response = requests.get(url)
    images = []
    soup = BS(response.text, 'html.parser')
    img_tags = soup.find_all('img')

    for img_tag in img_tags:
        img_url = img_tag.get('src')
        if img_url.startswith('//'):
            img_url = 'http:' + img_url
        elif img_url.startswith('/'):
            img_url = '/'.join(url.split('/')[:3]) + img_url # making sure http:// is included

        images.append(img_url)

    return images

# will take some time to run ~ 10 minutes
images_list = []
i = 0

for link in report_links:
    # Call the 'get_images_from_webpage' function for each link and append the result to 'images_list'
    images_for_link = get_images(link) # call function get_images
    images_list.append([link, images_for_link]) # add image link and original report link to list
    i+=1
    if i % 100 == 0: # only print the loop count every 100 items
        print(f'Loop count: {i}')

In [28]:
# images_df = pd.DataFrame(images_list, columns=['reportlink', 'image_links']) # make dataframe with columns

<span style='background:purple; font-size:25px'>combine ufo and images_df dataframes</span>

In [34]:
# ufo = pd.merge(ufo, images_df, how = 'left', on = 'reportlink')

<span style='background:purple; font-size:25px'>combine ufo and lat, lng data (merge on location)</span>

In [232]:
lat_lng = pd.read_csv('ufo_columns_lat_lng.csv', encoding='latin1')

In [235]:
lat_lng = lat_lng.drop('Unnamed: 5', axis=1)

<span style='background:purple; font-size:25px'>getting distinct city names</span>

ufo.groupby('city')['state']

state_counts_per_city = ufo_usa.groupby('state')['city'].value_counts()

state_counts_per_city.sort_values()

unique_cities = pd.DataFrame(state_counts_per_city)

unique_cities = unique_cities.rename(columns = {'city1': 'count'})

unique_cities = unique_cities.reset_index()

unique_cities.sort_values(by = 'count')

unique_cities.state = unique_cities.state.str.replace('0', 'O') # fix example: 0R -> OR

unique_cities.to_csv('ufocolumns.csv', index = False)

<span style='background:yellow; font-size:25px'>SCRATCH PAD</span>

In [65]:
ufo.month.isna().value_counts()

False    129293
Name: month, dtype: int64

In [90]:
listToStr = ' '.join([str(elem) for elem in enumerate (ufo.image_links)])

In [116]:
ufo.loc[ufo['images'] == 'NaN']

Empty DataFrame
Columns: [date, month, year, reportlink, city, state, country, shape, duration, description, post_date, images, image_links]
Index: []

In [118]:
ufo.image_links = ufo.image_links.replace('nan', np.nan)

In [201]:
# make lists strings
for index, row in ufo.iterrows():
    if pd.notna(row['image_links']):
        ufo.loc[index, 'image_links'] = row['image_links'].strip('[]')

In [212]:
ufo['image_links'] = ufo['image_links'].str.replace("'", '') # remove single quotes

In [213]:
ufo.image_links[128248]

'https://nuforc.org/wp-content/uploads/wpforms/624-c824613929464448a7e062112379f845/20220405_195733-ca637737fb8d5d9ddd597a83e399a054.jpg, https://nuforc.org/wp-content/uploads/wpforms/624-c824613929464448a7e062112379f845/20220405_195709-dfbe62e82af00b489420bdc69baf43b9.jpg, https://nuforc.org/wp-content/uploads/wpforms/624-c824613929464448a7e062112379f845/20220405_195826-b18f8faa0d28213c1abf695ec5345bc2.jpg'

In [8]:
ufo

,date,month,year,reportlink,city,state,country,shape,duration,description,post_date,images,image_links
0,2023-07-27,July,2023,https://nuforc.org/webreports/reports/177/S177048.html,Plainfield,IN,USA,triangle,1 minute,2 objects above store.,7/29/2023,NaN,NaN
1,2023-07-26,July,2023,https://nuforc.org/webreports/reports/177/S177053.html,Little Falls,MN,USA,triangle,2 minutes,Saw 2 to 4 triangle craft with bright white lights on the angle tips,7/29/2023,NaN,NaN
2,2023-07-25,July,2023,https://nuforc.org/webreports/reports/177/S177081.html,sacramento,CA,USA,triangle,around 5 min,Silent-more of a slight gush of wind/ triangular object/maybe size of jet/maybe quarter of mile high??,7/29/2023,NaN,NaN
3,2023-07-23,July,2023,https://nuforc.org/webreports/reports/176/S176930.html,Buford,GA,USA,triangle,3+ hours,3 triangle shape white with reddish tint hovering and moving in unison and hovering in the same spot for hours,7/29/2023,yes,https://nuforc.org/wp-content/uploads/wpforms/624-c824613929464448a7e062112379f845/IMG_9719-7cf0d35e0eede2f212f7d9a88a070cd7.jpeg
4,2023-07-22,July,2023,https://nuforc.org/webreports/reports/176/S176927.html,Bellefonte,PA,USA,triangle,1 to 2 minutes,"Craft was low overhead, made no noise. Made almost a right angle turn, never slowing down. 3 blinking lights",7/29/2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129288,1967-05-15,May,1967,https://nuforc.org/webreports/reports/034/S34031.html,Belvedere,CA,USA,teardrop,Approx. 10 seconds,Teardrop outlined in white light with three white circular lights inside other wise dark interior of tear shape.,1/17/2004,NaN,NaN
129289,1961-06-01,June,1961,https://nuforc.org/webreports/reports/052/S52151.html,NaN,NY,USA,teardrop,30 minutes,I was 11 yrs old. My Aunt and Uncle and I were driveing from Elmira NY to Bradford PA we were in the hills coming around a bend near a,10/30/2006,NaN,NaN
129290,1958-07-10,July,1958,https://nuforc.org/webreports/reports/027/S27374.html,Cheektowaga,NY,USA,teardrop,10 -20 secs,White teardrop shaped object observed during the daytime,3/21/2003,NaN,NaN
129291,1958-06-30,June,1958,https://nuforc.org/webreports/reports/080/S80850.html,Conyers,GA,USA,teardrop,5 min.,Sighting of a UFO ca. 1958.,5/2/2011,NaN,NaN
129292,1957-06-30,June,1957,https://nuforc.org/webreports/reports/048/S48502.html,New York City,NY,USA,teardrop,i0min,glowing lights lead the way,2/14/2006,NaN,NaN